.product-detail-container {
  display: flex;
  flex-direction: row;
  margin-top: 3.5rem;

  .product-detail-image {
      width: 40%;
  }

  .details-image {
    width: 80%;
    height: 90%;
    margin-left: 50px;
  }

  .product-details {
    margin: 10px 10px 0;
    width: 50%;
    text-align: center;

    .product-info-title {
        margin-top: 4rem;
        text-align: start;
        border-bottom: 1px solid rgba(3, 3, 3, 0.432);
    }

    .product-info {
        text-align: start;
    }
  }
}
