.checkout-table-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem 8rem;

  .checkout-table-header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    row-gap: 30px;
  }

  .checkout-table-items {
    text-align: center;
  }

  .table-header {
    margin-left: 3.5rem;
    margin-right: 2rem;
  }

  .description-header {
    margin-left: 4.5rem;
    margin-right: 4rem;
  }

  .quantity-header {
    margin-left: 4rem;
  }

  .price-header {
    margin-left: 7rem;
  }

  .remove-header {
    margin-left: 4.5rem;
  }

  .product-image-container {
    margin-right: 2rem;
    padding: 0;
  }

  .total-price {
    float: right;
  }
}
