body {
  padding: 20px 0;
  margin: 0;
}

.admin-container {
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
}

.pro-sidebar {
  border-radius: 0.7rem;
  margin-left: 1rem;
  .logo {
    filter: brightness(100);
  }
  position: fixed;
}

.pro-sidebar-content ul a .customIcons {
  margin-right: 1.3rem;
}

.sideMenu li {
  font-weight: bolder;
  font-size: 1rem;
  margin: 0;
}

.head-div {
  align-items: center;
}

.mainBody {
  display: flex;
  flex-direction: column;
  background-color: rgba(216, 216, 216, 0.11);
  width: 100vw;
}

.nav {
  height: 74px;
  justify-content: flex-end;
  width: 98%;
  margin: 0 0 0 1.5rem;
}

.dash-scroll {
  background-color: rgba(201, 192, 192, 0.068);
  border: 1px solid rgba(51, 51, 51, 0.137);
  border-radius: 10px;
}

.navBar {
  width: 100%;
  margin: 0 2rem;
  position: fixed;
  .navLinks {
    padding: 0%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

// .gAMYCL {
//   border: none !important;
// }
